\documentclass{article}
\usepackage{pdfoverlay}
\usepackage[paper=b5j,margin=1in]{geometry}
\usepackage{anyfontsize}
\usepackage{graphicx}
\pagenumbering{gobble}
\pdfoverlaySetPDF{./app_bg.pdf}

\begin{document}
\begin{center}
    {\fontsize{20}{20}\selectfont General Information on Ueda-ryū Sheet Music}\\[0.33cm]
\end{center}

\vspace*{0.03\textheight}

\fontsize{12}{12}\selectfont 
  The Ueda-ryū Sheet Music sold at www.uedaryu.com are international
versions of original publications by the Ueda-ryū Sheet Music Publication 
Society in Japan. The international versions include scans of the original
pages, translations of the contents and additional comments and notes. The
sales of the international versions at www.uedaryu.com are specifically
permitted by the original copyright owner and the original copyright owner
is paid a royalty for each sale. 
  If you notice missprints or other errors in the sheet music, contact
info@uedaryu.com and a corrected version is released as soon as possible,
and you can receive a free copy of the corrected version.
  The sheet music released at www.uedaryu.com are based on the most current
official releases by Ueda-ryū in Japan. There are various older editions of
Ueda-ryū sheet music in existence, which have differences in style of notation
and other details. At the time of this release there is no plans of releasing
more than the sheet music which is part of the current official curriculum of
Ueda-ryū teaching, but it is possible that in the future other sheet music is
released as well. Due to lack of availability of the current release in Japan,
there may be a couple specific sheet music on the site where an older edition
is used and the original scan may look different in style to some extent. Some
of the original sheet music scans include multiple title pages (usually simpler
black and white ones after the main one.) The reason for this is that in such
cases the sheet music is multiple 4-page prints long which are individual pieces
of paper in the original. The extra title pages are printed on the extra sheets
in order to easily recognize them. The original sheet music are approximately
JIS B5 size per page.
  For instruction and teaching on the music, check the website www.uedaryu.com 
for info on how to book lessons with Ueda-ryū teachers.
\end{document}