\documentclass{article}
\usepackage{pdfoverlay}
\usepackage[paper=b5j,margin=1in]{geometry}
\usepackage{anyfontsize}
\pagenumbering{gobble}
\pdfoverlaySetPDF{./fp_bg.pdf}
\begin{document}
\begin{center}
    {\fontsize{40}{42}\selectfont Ueda-ryū Shakuhachi Sheet Music}\\[4cm]
    {\fontsize{20}{20}\selectfont Handwritten by}\\[0.33cm]
    {\fontsize{20}{20}\selectfont {{ writer }}}
\end{center}
\vspace*{0.13\textheight}
\begin{center}
    {\fontsize{20}{20}\selectfont {{ type }}}\\[0.5cm]
    {\fontsize{56}{42}\selectfont {{ romaji_name }}}
\end{center}
\vspace*{0.272125\textheight}

\begin{center} 
    {\fontsize{16}{16}\selectfont Translations and comments by Aaro Senzui Haavisto}
\end{center}
\end{document}